body {
    background-image: url(https://lh3.googleusercontent.com/proxy/1YUoA1RTS-HXBVa7P1AxsVKNy14RZPxceqffNXWg-TSnVewa-SO0CEfxmZ4YPzv1TOjAIgvskDh7INC02ORddl8aGi3SXmIGYes94_BlUjt0936-mevjmcy6zACjp9-2R8TLIa4YUQRmtfi9-P3AOqE5=s0-d);
    font-family: Inconsolata;
}

h2, h3, h4, .future {
    font-family: Audiowide;
}
h1 {
    color: black;
    font-family: Audiowide;
}

.navbaritem {
    display: block;
  }

  .h3, h3 {
    font-size: 1.75rem;
    background-color: none;
    color: rgb(0, 255, 242);
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;

}
p {
    margin-top: 0px;
    margin-bottom: 0rem;
    background-color: rgb(255, 255, 255);
    padding: 0rem;
    
}
p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.img-thumbnail {
    padding: .25rem;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 100rem;
    max-width: 100%;
    height: auto;
} 
img {
    border-radius: 75rem;
}
.container {
    border-radius: 5px;
    background-color: none; 
    padding: 1rem;
    border-radius: .9rem
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
.border-bottom {
    border-bottom: 1px solid #4e005f!important;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(135, 0, 177);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .container-fluid {
      position: center;

  }
 h1 {
     color: rgb(0, 0, 0);
     position: center;
         font-family: Arial, Helvetica, sans-serif;
 }
  

